.left-container {
    margin-left: 30px;
    width: 455px;
    float: left;
  }

.center-container {
  float: left;
  width: 300px;
  margin-left: 30px;
  margin-right: 30px;

}

.right-contianer {
  float: right;
    margin-right: 0;
    position: relative;
    width: 350px;
}
.add-products h2 {
 text-align: center;
  margin-bottom: 30px;
}
.add-products-form {
  background: #f0f0f0;
  border: solid 1px #dedede;
  font-size: 14px;
  height: 195px;
  padding: 20px;
}

.add-more-products {
  margin-top: 20px;
  text-align: center;
}

.product-button {
  background: none repeat scroll 0 0 #5db327;
  border-color: #5db327;
  border-radius: 3px;
  font-size: 14px;
  margin-top: 20px;
  width: 160px;
}
.no_of_forms {
    width: 50px;
}
.all-products{
    float: left;
    width: 152px;
    margin-left: 200px;
}
.save-category{
  display: none;
}
.form-error {
    border: 2px solid red;
}
label.error {
  display: none;
}

.bulk-products{

}
.product_name{
   float: left;
    width: 190px;
}
.product_price{
  float: right;
  width: 190px;
}
.product_category {
}
.product_category button {
   background: none repeat scroll 0 0 #5db327;
    border-color: #5db327;
    border-radius: 3px;
    color: white;
    font-size: 23px;
    height: 37px;
    margin-top: 20px;
    width: 160px;
}

.recuring-product {
     position: absolute;
}  
.recuring-product input {
  width: 10px;
  float: left;
  height:0px;
}  
.recuring-product label {
  float: right;
}
.product_has_trial {
   float: left;
}
.product_has_trial input{
  float: left;
  width: 0px;
  height: 0px;
}
.product_has_trial  label {
  float: right;
}
.recurring{
   display: block;
    width: 185px;
}

.product-save-button {
    background: none repeat scroll 0 0 #5db327;
    border-color: #5db327;
    border-radius: 3px;
    font-size: 14px;
    margin-top: 20px;
    width: 160px;
}
.bulk-product-forms{
  background: none repeat scroll 0 0 #f0f0f0;
  border: 1px solid #c8c8c8;
  padding: 25px 10px 20px;
  display: flex;
  margin-top: 30px;
}
.new_single_product {
  background: none repeat scroll 0 0 #fcfcfc;
  display: table;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 20px 20px 40px;
  width: 500px;
}
.heading span {
    font-size: 16px;
    font-weight: bold;
}
.heading a {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #d9d9d9;
  color: #256b31;
  float: right;
  font-size: 13px;
  padding: 5px;
  text-align: center;
  width: 130px;
}
.new-product-form input {
  border: 1px solid #d9d9d9;
  border-radius: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
  height: 40px;
  padding-left: 15px;
  width: 100%;
}
.product_new_name input {
    margin-top: 20px;
    width: 100%;
}
.product_new_description textarea {
 border: 1px solid #c8c8c8;
  border-radius: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
  margin-top: 20px;
  resize: none;
  width: 100%;
  padding-left: 15px;
}
.product_category select {
     background: none repeat scroll 0 0 #fff;
    border: 1px solid #d9d9d9;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
    height: 40px;
    margin-top: 20px;
    width: 100%;
}
.product_status select {
  width: 100%;
   background: none repeat scroll 0 0 #fff;
    border: 1px solid #d9d9d9;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
    height: 40px;
    margin-top: 20px;
}
.save-category button{
background: none repeat scroll 0 0 #5db327;
    border-color: #5db327;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    height: 37px;
    margin-top: 20px;
    width: 160px;
  }
.check-margin{
  float: left !important;
  margin-left: 22px;

}
.product-check-box input {
    width: 20px;
}
.product-check-box label {
    bottom: 14px;
    position: relative;
}
.trial-check-box{
  bottom: 28px;
  position: relative;
}

.save-product-btn{
    background: none repeat scroll 0 0 #5db327;
    border-color: #5db327;
    border-radius: 3px;
    color: white;
    font-size: 23px;
    height: 40px;
    margin-top: 20px;
    width: 400px;
}
.select-billing{
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #d9d9d9;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
  height: 40px;
  width: 100%;
}
.batch-name input {
  border: 1px solid #c8c8c8;
    border-radius: 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
    color: black;
    display: inline;
    height: 40px;
    padding-left: 15px;
    width: 170px;
}
.product_description textarea {
  border: 1px solid #c8c8c8;
    border-radius: 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
    margin-top: 20px;
    resize: none;
  }
.select-status select{
  margin-top: 0px;
}
.set-container{
  bottom: 215px;
  left: 40px;
}  
