<h2>List of Products</h2>
<table>
  <tr>
    <th>Product Name</th>
    <th>Categories</th>
    <th colspan="2"></th>
  </tr>
 
  <% @products.each do |product| %>
    <% category = category = product.categories.collect{|c| c[:name]}.join(", ")%>
    <tr>
      <td><%= product.name %></td>
      <td><%= category%></td>
    </tr>
  <% end %>
</table>
